<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/HP/IdeaProjects/api_Framework">
        <classes>
            <class name="org.api.tests.TestAllRequestsMethods">
                <methods>
<!--                    <include name="GetAllUsers"/>-->
<!--                    <include name="GetSingleUser"/>-->
<!--                    <include name="CreateUser"/>-->
<!--                    <include name="UpdateUser"/>-->
                    <include name="DeleteUser"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>